<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Single Project Details</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/faculty.css">
</head>

<body>
  <div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h3>Single Project Details</h3>

      <a href="/web/faculty/allproject/view" class="btn btn-secondary">
        <i class="fa-solid fa-arrow-left me-1"></i> Back
      </a>
    </div>

    <div class="card profile-card p-4">
    
      <div class="row">

        <% singleProject.forEach( project => { %>

          <div class="text-center mb-4 ms-5 mt-2">
          <img src="<%=project.projectImage%>" class="project-img" />
          
          
        </div>
        <div class="col-md-6 mb-3">
          <div class="label">Department Name</div>
          <div class="value">
            <%= singleProject[0].departmentInfo.deptName %>
          </div>
        </div>

          <div class="col-6 mb-3">
            <div class="label">Batch Name</div>
            <div class="value">

              <%= project.batchList.batchName %>

            </div>
          </div>

          <div class="col-md-6 mb-3">
            <div class="label">Course Name</div>
            <div class="value">
              <%= project.courseInfo.courseName %>
            </div>
          </div>
          

          <div class="col-md-6 mb-3">
            <div class="label">Project Name</div>
            <div class="value">
              <%= project.title %>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="label">Description</div>
            <div class="value">
              <%= project.description %>

            </div>
          </div>

          <div class="col-md-6 mb-3">
            <div class="label">Start Date</div>
            <div class="value">
              <span class="status-active">
                <%= new Date(project.startDate).toDateString() %>
              </span>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <div class="label">Submission Date</div>
            <div class="value">
              <span class="status-active bg-danger">
                <%= new Date(project.dueDate).toDateString() %>
              </span>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <div class="label">Status</div>
            <div class="value">
              <span class="status-active">
                <%= project.status%>
              </span>
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <div class="label mb-3">Assigned Students</div>
            
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Sl.no</th>
                    <th>Name</th>
                  
                   
                    <th>studentCode</th>
                    <th>status</th>
                    <th width="180">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <% project.studentInfo.forEach((student, index)=>{%>
                    <tr>
                      <td>
                        <%= index + 1 %>
                      </td>
                      <td>
                        <%= student.name %>
                      </td>

                      <td>
                        <%= student._id %>
                      </td>
                       <td>
                        <span class="status-active">
                          <%= student.status %>
                        </span>
                      </td>

                      <td>
                        <div class="action-btns">
                          <span class="status-active">
                          Submitted
                        </span>
                        </div>
                      </td>
                    </tr>

                      <%})%>
  
                </tbody>
              </table>
            </div>

          </div>

          <% }) %>


      </div>
    </div>
  </div>
</body>

</html>