<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Faculty Dashboard</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>


  <link rel="stylesheet" href="/assets/css/style.css" />

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- SIDEBAR -->

      <div class="col-lg-2 sidebar">
        <div class="logo"><i class="fa-solid fa-graduation-cap me-3"></i>Faculty Panel</div>

        <ul class="nav flex-column">
          <li>
            <a href="/web/view/faculty/dashboard" class="nav-link active">
              <i class="fa-solid fa-chart-line"></i>
              Dashboard
            </a>
          </li>

          <li>
            <a href="/web/faculty/batch/view" class="nav-link">
              <i class="fa-solid fa-users"></i>
              My Batches
            </a>
          </li>

          <li>
            <a href="/web/faculty/allproject/view" class="nav-link">
              <i class="fa-solid fa-code"></i>
              Projects
            </a>
          </li>

          <li>
            <a href="/web/view/coursematerial/list" class="nav-link">
              <i class="fa-solid fa-book-open"></i>
              Course Materials
            </a>
          </li>

          <li>
            <a href="/web/view/show/announcement" class="nav-link">
              <i class="fa-solid fa-bullhorn"></i>
              Announcements
            </a>
          </li>

          <li>
            <a href="/web/view/calender" class="nav-link">
              <i class="fa-solid fa-calendar"></i>
              Calender
            </a>
          </li>

          <li>
            <a href="/web/logout" class="nav-link">
              <i class="fa-solid fa-right-from-bracket"></i>
              Logout
            </a>
          </li>
        </ul>
      </div>


      <!-- MAIN CONTENT -->

      <div class="col-lg-10 main-content">
        <!-- TOPBAR -->

        <nav class="navbar navbar-expand-lg top-navbar">
          <div class="container-fluid">

            <h2 class="text-white mb-0">Dashboard</h2>

            <div class="ms-auto d-flex align-items-center gap-3">
              <!-- <button class="btn btn-light rounded-circle"> -->
              <!-- <i class="fa-regular fa-bell"></i> -->
              <!-- </button> -->

              <button class="btn btn-light rounded-circle">
                <i class="fa-regular fa-moon"></i>
              </button>

              <button class="btn btn-light fw-semibold">
                <%= facultyProfile[0].userList.name %>
              </button>
            </div>

          </div>
        </nav>

        <!-- PAGE TITLE -->

        <div class="page-title">
          <div class="ms-4">
            <h2>Welcome Back, Faculty</h2>
            <p>See your classes, batches and students.</p>
          </div>
          <a href="/web/view/faculty/profile/<%- facultyProfile[0]._id %>">
            <button class="btn btn-primary">My Profile</button>
          </a>
        </div>

        <!-- STATS -->

        <div class="row g-4 mb-4 ms-1">
          <div class="col-lg-3 col-md-6">
            <div class="stats-card blue">
              <h6>Assigned Batches</h6>
              <h2><%- totalActiveBatch.length %></h2>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-card green">
              <h6>Today's Classes</h6>
              <h2><%- todaySchedule.length %></h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="stats-card orange">
              <h6>Announcements</h6>
              <% if(announcements.length !==0){ %>
              <h2><%- announcements.length %></h2>
              <% } else { %>
                <h2>0</h2>
              <% } %>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6">
            <div class="stats-card red">
              <h6>Project</h6>
              <% if(allProject.length !==0){ %>
              <h2><%- allProject.length %></h2>
              <% } else { %>
                <h2>0</h2>
              <% } %>
            </div>
          </div> 
        </div>

        <!-- SCHEDULE + ATTENDANCE -->

        <div class="row g-4 mb-6">
          <div class="col-lg-10 mb-3">
            <div class="dashboard-card">
              <div class="d-flex justify-content-between mb-3">
                <h5>Today's Schedule</h5>
              </div>

              <table class="table align-middle">
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>Batch</th>
                    <th>Course</th>
                    <th>Topic</th>
                  </tr>
                </thead>

                <tbody>
                  <% if(todaySchedule.length==0){ %>
                    <tr>
                      <td colspan="4" class="text-center text-muted">
                        No Batch Scheduled Today
                      </td>
                    </tr>

                    <% } %>

                      <% todaySchedule.forEach(item=> { %>

                        <tr>
                          <td>
                            <%= item.startTime %> - <%= item.endTime %>
                          </td>

                          <td>
                            <%= item.batch.batchName %>
                          </td>

                          <td>
                            <%= item.course.courseName %>
                          </td>

                          <td>
                            <%= item.topic %>
                          </td>

                        </tr>

                        <% }) %>
                </tbody>
              </table>
            </div>
          </div>

          <!-- <div class="col-lg-4">
            <div class="dashboard-cardone">
              <h5 class="mb-3">Attendance Summary</h5>

              <h1 class="attendance">92%</h1>

              <p>Average attendance across all assigned batches.</p>

              <span class="badge bg-success"> Excellent Performance </span>
            </div>
          </div> -->
        </div>

        <!-- ASSIGNED BATCHES -->

        <div class="dashboard-card mb-4">
          <div class="d-flex justify-content-between mb-3">
            <h5>Assigned Batches</h5>
            <a href="/web/faculty/batch/view"><button class="btn btn-sm btn-outline-primary">View</button></a>
            
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>Batch</th>
                <th>Course</th>
                <th>Students</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <% totalActiveBatch.forEach(batch=> { %>
                <tr>

                  <td>
                    <%= batch.batchName %>
                  </td>

                  <td>
                    <%= batch.courseName %>
                  </td>

                  <td>
                    <%= batch.studentCount %>
                  </td>

                  <td>
                    <span class="badge <%= batch.status === 'upcoming' ? 'bg-secondary' : 'bg-success' %>">
                      <%= batch.status %>
                    </span>
                  </td>
                  <% }); %>

                </tr>
            </tbody>
          </table>
        </div>

        <!-- REVIEWS + ANNOUNCEMENTS -->

        <div class="row g-4 mb-3">
          <div class="col-lg-7">
            
            <div class="dashboard-card">
              <div class="d-flex justify-content-between mb-3">
              
              <h5 class="mb-3">Projects</h5>
              <a href="/web/faculty/allproject/view"><button class="btn btn-sm btn-outline-primary">View</button></a>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    
                    <th>Project</th>
                    <th>Batch</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    
                  </tr>
                </thead>

                <tbody>
                  <% allProject.forEach(project => { %>
                <tr>

                  <td>
                    <%= project.title %>
                  </td>

                  <td>
                    <%= project.batch.batchName %>
                  </td>

                 <td>
                    <%= project.dueDate.toISOString().split("T")[0] %>
                  </td>

                  <td>
                    <span class="badge bg-success">
                      <%= project.status %>
                    </span>
                  </td>
                  <% }); %>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="dashboard-card">
              <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-4">Recent Announcements</h5>
              <a href="/web/view/show/announcement"><button class="btn btn-sm btn-outline-primary">View</button></a>
                          </div>

              <% announcements.forEach(announcement=> { %>
                <div class="announcement announcementdiv">
                  <%= announcement.title %>
                </div>
                <% }); %>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {

        initialView: 'dayGridMonth',
        eventTextColor: '#495057',
        height: 600,
        events: [

          // {
          //   title: 'Meeting',
          //   start: '2026-06-21'
          // },
          // {
          //   title: 'Exam',
          //   start: '2026-06-25'
          // }
        ]
      });

      calendar.render();
    });
  </script>

</body>

</html>