<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Student Dashboard</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/student_style.css" />
    <style></style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- SIDEBAR -->

        <div class="col-lg-2 sidebar">
          <div class="logo">EduTrack</div>

          <ul class="nav flex-column">
            <li>
              <a href="#" class="nav-link active">
                <i class="fa-solid fa-house"></i>
                Dashboard
              </a>
            </li>

            <li>
              <a href="/web/view/student/profile" class="nav-link">
                <i class="fa-solid fa-user"></i>
                My Profile
              </a>
            </li>

            <li>
              <a href="/web/view/student/batch" class="nav-link">
                <i class="fa-solid fa-users"></i>
                Batch
              </a>
            </li>

            <li>
              <a href="#" class="nav-link">
                <i class="fa-solid fa-code"></i>
                Projects
              </a>
            </li>

            <li>
              <a href="#" class="nav-link">
                <i class="fa-solid fa-book"></i>
                Course Materials
              </a>
            </li>

            <li>
              <a href="/web/view/show/announcement" class="nav-link">
                <i class="fa-solid fa-bullhorn"></i>
                Announcements
              </a>
            </li>

            <li>
              <a href="/web/view/payment/history" class="nav-link">
                <i class="fa-solid fa-money-bill"></i>
                Payment History
              </a>
            </li>

            <li>
              <a href="#" class="nav-link">
                <i class="fa-solid fa-certificate"></i>
                Certificates
              </a>
            </li>

            <li>
              <a href="/web/logout" class="nav-link">
                <i class="fa-solid fa-right-from-bracket"></i> Logout</a
              >
            </li>
          </ul>
        </div>

        <!-- MAIN CONTENT -->
        <div class="col-lg-10 main-content">
          <!-- TOPBAR -->
          <nav class="topbar">
            <div>
              <h2 class="page-title">Dashboard</h2>
              <p class="page-subtitle">Welcome back, <%=student.name%></p>
            </div>

            <div class="top-right">
              <button class="top-btn notification-btn">
                <i class="fa-regular fa-bell"></i>
                <span class="notification-count">2</span>
              </button>

              <a href="#" class="top-btn">
                <i class="fa-regular fa-circle-question"></i>
                Help Center
              </a>

              <a href="/web/view/student/pay/now" class="pay-btn">
                <i class="fa-solid fa-indian-rupee-sign"></i>
                Pay Now
              </a>

              <div class="dropdown">
                <button
                  class="profile-dropdown dropdown-toggle"
                  data-bs-toggle="dropdown"
                >
                  <i class="fa-solid fa-user-graduate me-2"></i>
                  <%=student.name%>
                </button>

                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="#"> Profile </a>
                  </li>

                  <li>
                    <a class="dropdown-item" href="#"> Settings </a>
                  </li>

                  <li><hr class="dropdown-divider" /></li>

                  <li>
                    <a class="dropdown-item text-danger" href="/web/logout">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <!-- WELCOME CARD -->

          <div class="welcome-card mb-4">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h3>Welcome Back, <%=student.name%></h3>
                <p class="mb-0">
                  Track your learning journey and upcoming classes.
                </p>
              </div>

              <span class="badge bg-success p-2"> Ongoing Course </span>
            </div>
          </div>

          <% if(success && success.length > 0){ %>
                <div id="successAlert" class="alert alert-success alert-dismissible fade show">
                  <%= success[0] %>
                </div>
          <% } %>
          <!-- STATS -->

          <div class="row g-4 mb-4">
            <div class="col-lg-3 col-md-6">
              <div class="stats-card blue">
                <h6>Attendance</h6>
                <h2>92%</h2>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="stats-card green">
                <h6>Projects</h6>
                <h2>5</h2>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="stats-card orange">
                <h6>Assignments</h6>
                <h2>8</h2>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="stats-card red">
                <h6>Certificates</h6>
                <h2>1</h2>
              </div>
            </div>
          </div>

          <div class="row g-4 mb-4">
            <!-- Personal Information -->

            <div class="col-lg-6">
              <div class="dashboard-card h-100">
                <div class="d-flex align-items-center mb-4">
                  <div class="profile-icon">
                    <i class="fa-solid fa-user"></i>
                  </div>

                  <div class="ms-3">
                    <h5 class="mb-1">Personal Information</h5>
                    <small class="text-muted"> Student Details </small>
                  </div>
                </div>

                <div class="row g-3">
                  <div class="col-md-6">
                    <div class="info-box">
                      <small>Name</small>
                      <h6><%=personalInfo[0].userInfo.name%></h6>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="info-box">
                      <small>Email</small>
                      <h6><%=personalInfo[0].userInfo.email%></h6>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="info-box">
                      <small>Phone</small>
                      <h6><%=personalInfo[0].phone%></h6>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="info-box">
                      <small>Student ID</small>
                      <h6><%=personalInfo[0].studentCode%></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Calendar -->

            <div class="col-lg-6">
              <div class="dashboard-card h-80">
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <h5>
                    <i class="fa-solid fa-calendar-days me-2"></i>
                    Calendar
                  </h5>

                  <span class="badge bg-primary"> June 2026 </span>
                </div>

                <div id="calendar"></div>
              </div>
            </div>
          </div>

          <!-- BATCH + PAYMENT -->

          <div class="row g-4 mb-4">
            <!-- batch allotment -->
            <div class="col-lg-6">             
              <div class="dashboard-card h-100">
                <h5 class="card-title">
                  <i class="fa-solid fa-users me-2"></i>
                  Batch Allotment
                </h5>

                <div class="info-item">
                  <span>Course</span>
                  <strong><%=batchAllotment[0].courseInfo.courseName%></strong>
                </div>

                <div class="info-item">
                  <span>Batch</span>
                  <strong><%=batchAllotment[0].batchInfo.batchName%></strong>
                </div>

                <div class="info-item">
                  <span>Faculty</span>
                  <strong><%=batchAllotment[0].nameOfFaculty.name%></strong>
                </div>

                <div class="info-item">
                  <span>Status</span>
                  <span class="badge bg-success"><%=batchAllotment[0].status%></span>
                </div>
              </div>
            </div>

            <!-- payment -->
            <div class="col-lg-6">
              <div class="dashboard-card h-100">
                <h5 class="card-title">
                  <i class="fa-solid fa-wallet me-2"></i>
                  Payment Summary
                </h5>

                <div class="payment-row">
                  <span>Total Fee</span>
                  <strong>₹45,000</strong>
                </div>

                <div class="payment-row">
                  <span>Paid</span>
                  <strong class="text-success"> ₹35,000 </strong>
                </div>

                <div class="payment-row">
                  <span>Due</span>
                  <strong class="text-danger"> ₹10,000 </strong>
                </div>

                <a href="/web/view/payment/history" class="btn btn-primary w-100 mt-3">
                  View Payment History
                </a>
              </div>
            </div>
          </div>

          <!-- UPCOMING CLASSES -->

          <div class="dashboard-card mb-4">
            <div class="d-flex justify-content-between mb-3">
              <h5 class="card-title">
                <i class="fa-solid fa-clock me-2"></i>

                Upcoming Classes
              </h5>
            </div>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Topic</th>
                  <th>Faculty</th>
                  <th>Time</th>
                </tr>
              </thead>

              <tbody>
                <%showSchedule.forEach((val)=>{%>
                <tr>
                  <td><%=val.scheduleInfo.day%></td>
                  <td><%=val.scheduleInfo.topic%></td>
                  <td><%=val.facultyUser.name%></td>
                  <td><%=val.scheduleInfo.startTime%></td>
                </tr>
                <%})%>
              </tbody>
            </table>
          </div>

          <!-- ANNOUNCEMENTS -->

          <div class="dashboard-card">
            <h5 class="card-title mb-4">
              <i class="fa-solid fa-bullhorn me-2"></i>

              Announcements
            </h5>

            <div class="announcement-item">
              📢 React Module starts next Monday.
            </div>

            <div class="announcement-item">
              📢 Attendance must be above 75%.
            </div>

            <div class="announcement-item">
              📢 Fee payment due on 15th July.
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      setTimeout(() => {
        const alert = document.getElementById("successAlert");
        if (alert) alert.remove();
      }, 3000);
      
      document.addEventListener("DOMContentLoaded", function () {
        const calendarEl = document.getElementById("calendar");

        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: "dayGridMonth",

          height: 320,

          headerToolbar: {
            left: "",
            center: "title",
            right: "prev,next",
          },

          events: [
            // {
            //   title: "Node JS",
            //   start: "2026-06-29",
            // },
            // {
            //   title: "React",
            //   start: "2026-06-30",
            // },
          ],
        });

        calendar.render();
      });
    </script>
  </body>
</html>
